<footer class="{% if site.footer_fixed %}fixed-bottom{% else %}sticky-bottom mt-5{% endif %}" role="contentinfo">
  <div class="container mt-0">
    &copy; {{ site.data[site.active_lang].strings.footer.site_copyright }} {{ site.time | date: '%Y' }}
    {% assign lang = site.active_lang %}
    {% case lang %}
      {% when 'en', 'else' %}
        {{ site.data[lang].strings.about.first_name }} {{ site.data[lang].strings.about.middle_name }} {{ site.data[lang].strings.about.last_name }}.
      {% when 'ru' %}
        {{ site.data[lang].strings.about.last_name }} {{ site.data[lang].strings.about.first_name }} {{ site.data[lang].strings.about.middle_name }}.
    {% endcase %}
    {{ site.data[lang].strings.footer.text | default: '' }}
    {% if site.last_updated %}
      {{ site.data[lang].strings.footer.site_last_updated | default: '' }}: {% include current_date_format.liquid format="long" %}.
    {% endif %}
  </div>
</footer>