---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    {% assign not_found_404 = '' %}
    {% assign d_none = '' %}
    {% case page.permalink %}
      {% when '/publications/' %}
        {% assign image = site.images.publications %}
      {% when '/repositories/' %}
        {% assign image = site.images.repositories %}
      {% when '404' %}
        {% assign image = site.images.not_found_icon %}
        {% assign not_found_404 = 'not_found_404' %}
        {% assign d_none = 'd-none' %}
    {% endcase %}
    <h1 class="post-title d-flex align-items-center align-content-baseline {{ not_found_404 }}">
      <img class="width-32 mr-2" src="{{ image | prepend: '/assets/img/' | relative_url }}" alt="{{ page.title | capitalize }}">
      {{ page.title | capitalize }}
    </h1>
    <p class="post-description {{ d_none }}">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  {% if page.related_publications %}
    <h2>{{ site.data[site.active_lang].strings.references }}</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>